*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav, footer, .titulo{
    height: 80px;
    
}


header, section{
    height: 450px;
}
 
 
.social-icons a {
    color: #000; /* color de los íconos */
    font-size: 60px; /* tamaño */
    margin-right: 90px; /* espacio entre íconos */
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #007bff; /* color al pasar el mouse */
}


.titulo {
    font-family: 'Pacifico', cursive;
    font-size: 40px; /* Ajusta el tamaño a tu gusto */
}
 
.social-icons {
  text-align: center; /* centra los íconos horizontalmente */
  margin-top: 100px;
}

.social-icons i {
  font-size: 120%;
  margin: 10px; /* espacio entre íconos */
  }