*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav, footer, .titulo{
    height: 70px;
}

.logo{
    
    background: #FF0000;
}
.menu{
    
    background: #00FF00;
}
.ingreso{
    
    background: #0000FF;
}

header, section{
    height: 450px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    
}
 